:root {
  /* =========================
    COLORS
  ========================= */

  /* Primary Brand */
  --color-primary: #2563eb;
  --color-primary-dark: #1e3a8a;
  --color-dark-blue: #00174b;
  --color-primary-light: #dbe1ff;

  /* Backgrounds */
  --color-background: #ffffff;
  --color-background-secondary: #f8f9fa;
  --color-surface: #ffffff;
  --color-surface-hover: #f3f4f5;

  /* Text */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --white: #ffffff;
  --heading: #191c1d;
  --paragraph: #434655;
  --link: #004ac6;

  /* Borders */
  --color-border: #e5e7eb;
  --color-border-dark: #c3c6d7;

  /* Status */
  --color-success: #10b981;
  --color-success-bg: rgba(16, 185, 129, 0.1);

  --color-error: #dc2626;
  --color-error-bg: rgba(220, 38, 38, 0.1);

  --color-warning: #f59e0b;
  --color-warning-bg: rgba(245, 158, 11, 0.1);

  --color-info: #2563eb;
  --color-info-bg: rgba(37, 99, 235, 0.1);
  --sidebar-color: #b6c4ff;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* =========================
    BORDER RADIUS
  ========================= */

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  /* =========================
    SHADOWS / ELEVATION
  ========================= */

  /* Cards Hover */
  --shadow-sm:
    0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

  /* Modals & Popovers */
  --shadow-lg:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "San-serif";
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1300px;
  max-width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

section {
  background: #f8f9ff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
svg {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

p {
  color: var(--paragraph);
}

.error {
  color: var(--color-error);
  margin-top: 5px;
  font-size: 15px;
}

