.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 70px 1fr;
}

.layout .sidebar {
  position: relative;
  grid-column: 1;
  grid-row: 1 / 3;
  background: var(--sidebar-color);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout .header {
  position: relative;
  z-index: 1000;
  grid-column: 2;
  grid-row: 1;
}

.layout .outlet {
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
  background-color: var(--main-background);
}

.layout .sidebar .sidebar-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.layout .sidebar .sidebar-header .close {
  margin-left: auto;
  background-color: var(--color-error);
  color: var(--white);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: var(--radius-md);
}

.layout .sidebar .sidebar-header .close svg {
  font-size: 25px;
}

.layout .toggler {
  display: none;
}

.layout .sidebar .sidebar-header .text {
  text-align: center;
}

.layout .sidebar nav {
  margin-top: 30px;
}

.layout .sidebar nav ul {
  list-style: none;
}

.layout .sidebar nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--link-color);
  font-size: 20px;
  padding: 15px 20px;
  border-radius: var(--radius-md);
}

.layout .sidebar nav ul li a svg {
  fill: var(--link-color);
}

.layout .sidebar nav ul li a.active {
  color: var(--color-primary-light);
  background-color: var(--background-second);
}

.layout .sidebar nav ul li a.active svg {
  fill: var(--color-primary-light);
}

.layout .sidebar .new-proj-btn {
  background-color: var(--link);
  color: var(--white);
  font-size: 18px;
  border-radius: var(--radius-md);
  padding: 15px 0;
  display: block;
  width: 100%;
  transition: 0.3s ease all;
}

.layout .sidebar .new-proj-btn span {
  font-size: 25px;
}

.layout .sidebar .new-proj-btn:hover {
  background-color: var(--link-color);
}

.layout .header {
  padding: 10px 50px;
  border-bottom: 1px solid var(--color-border-dark);
}

.layout .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout .header .input {
  width: 700px;
  height: 50px;
  position: relative;
}
.layout .header .input input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-border);
  font-size: 15px;
  border-radius: var(--radius-md);
  padding: 0 10px 0 40px;
}

.layout .header .input svg {
  position: absolute;
  cursor: pointer;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 100;
}

.layout .header .input .search-result {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--color-border-dark);
  border-radius: var(--radius-md);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  display: none;
}

.layout .header .input .search-result.display {
  display: block;
}

.layout .header .input .search-data {
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border-dark);
  background-color: var(--white);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;
}

.layout .header .input .search-data:last-child {
  border-bottom: none;
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}

.layout .header .input .search-data:hover {
  background-color: var(--color-light);
}

.layout .header .input .search-data:first-child {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.layout .header .input .no-data-matches {
  padding: 10px 15px;
  color: var(--color-error);
  font-size: 15px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--radius-md);
  text-align: center;
  margin: 0;
  display: none;
}

.layout .header .input .no-data-matches.display {
  display: block;
}

.layout .header .input .searching {
  padding: 10px 15px;
  color: var(--paragraph);
  font-size: 15px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--radius-md);
  text-align: center;
  margin: 0;
}

.layout .header .input .search-result::-webkit-scrollbar {
  width: 6px;
}

.layout .header .input .search-result::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.layout .header .input .search-result::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.layout .header .input .search-result::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.layout .header .data {
  display: flex;
  align-items: center;
  gap: 50px;
}

.layout .header .data .icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.layout .header .data .icons::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: var(--color-border-dark);
  height: 100%;
  right: -25px;
  top: 0;
}

.layout .header .data .icons .icon svg {
  font-size: 20px;
}

.layout .header .data .icons .icon.bar {
  display: none;
}

.layout .header .data .icons .icon.notifications {
  position: relative;
}

.layout .header .data .icons .icon.notifications .red-dot {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  z-index: 1000;
}

.layout .header .data .icons .icon.notifications .notifications-popup {
  position: absolute;
  left: -100px;
  top: calc(100% + 15px);
  background-color: var(--white);
  border: 1px solid var(--color-border-dark);
  border-radius: var(--radius-md);
  padding: 10px;
  width: 300px;
}

.notifications-popup .notifications-list {
  background-color: var(--white);
  height: 300px;
  overflow-y: auto;
}

.notifications-popup h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-border-dark);
}

.notifications-popup .notification-item {
  background-color: var(--white);
  padding: 5px;
  border-bottom: 1px solid var(--color-border-dark);
  margin: 10px 0;
}

.notifications-popup .notification-item h6 {
  font-size: 17px;
}

.notifications-popup .notification-item p {
  font-size: 16px;
  margin: 10px 0;
}

.notifications-popup .notification-item:last-child {
  border-bottom: none;
}

.layout .header .data .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.layout .header .data .user .user-data {
  text-align: center;
}

.layout .header .data .user .user-data h3 {
  font-size: 17px;
}

.layout .header .data .user .user-data p {
  font-size: 15px;
}

.layout .header .data .user .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.layout .header .data .user .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1320px) {
  .layout .header .input {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    max-width: 90%;
    display: none;
  }

  .layout .header .input.display {
    display: block;
  }

  .layout .header .input input {
    padding: 10px;
    height: 40px;
  }

  .layout .header .input svg {
    display: none;
  }

  .layout .header .data {
    margin-left: auto;
  }
  .layout .header .data .user .user-data h3 {
    font-size: 15px;
    font-weight: 500;
  }
  .layout .header .data .icons .icon.bar {
    display: block;
  }
}

@media (max-width: 768px) {
  .layout .header .data .user .user-data {
    display: none;
  }
}

@media (max-width: 615px) {
  .layout .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    top: -100%;
    transition: 0.4s;
  }

  .layout .sidebar.display {
    top: 0;
  }

  .layout .sidebar.close {
    top: -100%;
  }

  .layout .header {
    grid-column: 1/-1;
  }

  .layout .outlet {
    grid-column: 1/-1;
  }

  .layout .sidebar .new-proj-btn {
    display: none;
  }

  .layout .toggler {
    cursor: pointer;
    display: block;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 30px;
    background-color: var(--link);
    color: var(--white);
    border-radius: var(--radius-md);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .layout .sidebar .sidebar-header .text {
    text-align: left;
  }
  .layout .sidebar .sidebar-header .close {
    display: block;
  }
}

@media (max-width: 468px) {
  .layout .header .data .user .user-img {
    width: 40px;
    height: 40px;
  }
}
